* {
    transition: all .3s ease;
}
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: url(images/bg.jpg);
    background-size: cover;
    background-attachment: fixed;   
}
h1, h2 {
    text-align: center;
    font-size: 3em;
}
h2 {
    color: #002396
}
#header {
position: relative;
    margin: 0;
    width: 100%;
    height: 100vh;
    background: url(images/bg.jpg);
    background-size: cover;
    background-attachment: fixed;
}
#header h1 {
    font-size: 5em;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-shadow: 0 0 40px #ffffff;
}
#all {
    position: relative;
    width: 96%;
    margin-left: 2%;
    margin-right: 2%;
}
#menu {
    position: sticky;
    top: 0;
    width: 100%;
    height: 50px;
    background: black;
    margin: 0;
    padding: 0;
    z-index: 10000;
}
#menu li {
    display: inline-block;
    padding: 10px 15px;
    border-bottom: 2px #002396 solid;
    transition: all .5s; 
    position: relative;   
}
#menu li a {
    display: block;
    text-transform: uppercase;
    transition: all .5s; 
    position: relative;
    color: white;
    text-decoration: none;
}
#menu ul:hover li {
    filter: blur(1.5px)
}

#menu ul li:hover {
    padding: 10px 30px;
    border-color: white;
    filter: blur(0)
}

#content {
    padding: 20px 80px;
    background: white;
    clear: both;
}
#content h1 {
    font-size: 3.5em;
    margin-bottom: 0;
    padding: 0;
    background: url(images/bg.jpg);
    background-attachment: fixed;
    background-size: cover;
    color: #ffffff20;
    font-weight: 900;
    -webkit-background-clip: text;
    background-position-y: 40%;
    margin-left: 50px;
}
.ilustration {
    float: left;
    margin-right: 20px;
    clear: both;
}
#game {
    clear: both;
}
.card {
    width: 28%;
    height: 250px;
    overflow: hidden;
    margin: 2%;
    background: #c90075;
    border-radius: 20px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border: 1px #63003a solid;
    background-blend-mode: color-burn;
    color: white;
    font-size: 1.5em;
    text-align: center;
}
.cilent {
    display: none;
}
.visible {
    display: flex;
    align-items: center;
}

.card-number {
    font-size: 1.5em;
}
.chosen {
    border: 4px #002396 solid;
    box-shadow: 0 0 20px #002396;
}
.background-img {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 100%;
    overflow: hidden;
    z-index: -1;
}
.answer-title {
    z-index: 10;
    opacity: 1;
    text-shadow: 0 0 20px #000000;
    background: #00000060;
    padding: 4px 8px;
    border-radius: 5px;
}
.chosen .background-img {
    z-index: 0;
    opacity: 1;
}
.cilent-table {
    display: none;
}

.res-table th, .res-table td {
    border: 1px solid #00239660;
    padding: 15px;
}
.res-table {
    border: 2px solid #002396;
    vertical-align: middle;
    border-collapse: collapse;
    text-align: left;   
}
.res-table th {
    color: #63003a;
}
.res-table .background-img {
    display: none;
}
.res-table .answer-title {
    background: none;
    color: black;
    text-shadow: none;
}
.res-table .cilent-table {
    display: block;
    color: black;

}
.res-p {
    opacity: 0;
}
.unaviable {
    opacity: 0.5;
}
.visible:hover > .answer-title {
    opacity: 0;
}
#result-space {
    display: flex;
    align-items: center;
    justify-content: center;
}
@media (max-width: 720px) {
    h2 {
        font-size: 2em;
    }
    #content h1 {
        font-size: 2.5em;
        margin-left: 0;
    }
    .card {
        width: 44%;
        height: 160px;
        margin: 2%;
    }
    
    #content {
        padding: 20px;
        
    }
    .round-div {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        
    }
    #all {
        margin: 0 2%;
        width: 96%;
        
    }
    #header h1 {
        font-size: 4em;
    }
    .ilustration {
        width: 100%;
        margin-bottom: 10px
    }
    .answer-title, .visible {
        font-size: 0.85em;
    }
}
